/* En este contexto es necesario poner los media-query
 del más grande hacia el más pequeño
 */


.oferta{
	background-color:  #00446e;
	padding: 2rem;
	text-aling: center;
	max-width: 60rem;
	margin:  0 auto;
}

.precio{
	font-size: 4rem;
	margin: 0;
}

@media(max-width: 800px){
	.oferta{
		max-width: 40rem;
	}
}

@media(max-width: 600px){
	.oferta{
		max-width: 100%;
	}
}

