.main-scheme{
    width: 100px;
    height: 100px;
    background-color: red;
}
.animation-01{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes example{
    from{background-color: red;}
    to{background-color: yellow;}
}

.animation-02{
    animation-name: example_01;
    animation-duration: 4s;
}

@keyframes example_01{
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

.animation-03{
    position: relative;
    animation-name: example-02;
    animation-duration: 4s;
}

@keyframes example-02{
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color: yellow; left:200px; top:0px;}
    50%  {background-color: blue; left:200px; top:200px;}
    75%  {background-color: green; left:0px; top:200px;}
    100% {background-color: red; left:0px; top:0px;}
}

.animation-04{
    position:relative;
    animation-name: example-02;
    animation-duration: 4s;
    animation-delay: 2s;
}

